.map {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.map-renderMap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 9/8) {
    .map {
        justify-content: flex-start;
        padding-left: 10px;
    }
}