.cityInput {
    position: relative;
    z-index: 1;
    width: 90%;
    height: 30px;
    border: none;
    /*TODO: layout from App, change it*/
    grid-area: cityInput;
    justify-self: center;
    align-self: center;
}

.cityInput-input {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    border: none;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding-left: 7px;
    font-size: 16px;
    outline: none;
}

.cityInput-removeContentButton {
    position: absolute;
    height: 100%;
    right: 0px;
    background-color: transparent;
    border: none;
    width: 24px;
    background-size: 17px 17px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./../../assets/img/cross.svg");
    cursor: pointer;
    outline: none;
}

.cityInput-loading {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    width: 24px;
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./../../assets/img/spinner.gif");
    cursor: none;
    outline: none;
}

@media only screen and (min-width: 700px) {
    .cityInput {
        width: 250px;
    }
}

@media (min-aspect-ratio: 11/8) {
    .cityInput {
        align-self: initial;
    }
}